h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003c8f;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

p,
span, 
footer,
a {
  font-family: "Public Sans", sans-serif;
}

a {
  color: #5e92f3;
}

.pt-4 {
  margin: 4rem 0rem;
}

header {
  background: "#003c8f";
  margin-bottom: 1.45rem,
}
